<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="syedsaifali.Test.Utils.Listeners"></listener>
</listeners>
  
    <test thread-count="5" name="Error Validation">
    <classes>
      <class name="syedsaifali.MultiplCases"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="End To End Framework With HashData">
    <classes>
      <class name="syedsaifali.eCommerce_tc_HybridApp_HashData"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="End To End Framework">
    <classes>
      <class name="syedsaifali.eCommerce_tc_HybridApp"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
